body{
    background-color: black;
    font-family: "Roboto", sans-serif;
}
div{
    display: block;
}
.icons{
    font-size: 30px;
}
.post-header{
    display: flex;
    padding: 15px;
}
.post-header div{
    display: inline-block;
}
#options{
    margin-left: auto;
}
.name h4{
    margin: 0 ;
}
.name{
    padding-left: 10px;
}
.ig-post{
    background-color: white;
    width: 35%;
    height: 100%;
    margin: 40px auto;
}
.post-img img{
    width: 100%;
}
.post-body{
    padding: 8px;
}
.post-body .icons{
    display: flex;
}
.likes{
    margin: 5px;
}
.bookmark{
    margin-left: auto;
}